.post {
	&.list-post {

		.row {
			margin-right: -30px;
			margin-left: -30px;

			[class*="col-"] {
				padding-right: 30px;
				padding-left: 30px;
			}
		}

		.img-list {
			width: 100%;
		}

		.cont-list {
			padding-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 80px;

			h5 {
				color: $azul;
				margin-bottom: 20px;
				font-weight: $bold;
			}

			p {
				font-size: 1.125rem;
				line-height: 1.225rem;
				font-weight: $light;
			}
		}

		.first-post {
			margin: 80px 0;

			.cont-list {
				margin-bottom: 0px;
			}
		}
	}
}